<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <script src="app.js"></script>
    <title>Главная</title>
    <!-- бустик -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- шрифт 1 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">
    <!-- шрифт 2 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Playfair+Display+SC&display=swap" rel="stylesheet">
  </head>
  <body>
  <div id="app" class="container-fluid">
    <div id="panel" class="bg-light"></div>

<!--    <div class="square" style=" height: 150px; z-index: -1; margin-top: 680px; position: absolute; width: 100%;"></div>-->
<!--    <div class="square" style=" height: 150px; z-index: -1; margin-top: 143%; position: absolute; width: 100%;"></div>-->
    <div class="content marg">
      <div class="row ">
        <div class="col-sm">
          <img src="static/images/myphoto.jpg" class="imgmy" width="368" height="492">
        </div>
        <div class="col-sm">
          <div class="text-left">
            <h2 class="diw-title">Коуч лидеров</h2>
            <h1 class="diw-title">Наталья Минаева</h1>
            <h2 class="diw">Продуктивность через Состояние!</h2>
            <hr style="border-width: 3px;">
          </div>
        </div>
        
      </div>
      <div style="margin: 100px;"></div>
      <div class="row">
          <div class="col-sm diw">
            <hr class="hr">
            <h2 class="text-right diw-title"><mark style="">Есть запрос на коучинг?</mark></h2>

            <p style="width: auto;"> Запишитесь на бесплатную 30-минутную сессию-знакомство, которая поможет вам принять решение о сотрудничестве.</p>
            </div>
            <div class="marg"></div>
            <div class="col-sm diw-title2">
              <a href="" class="border-button">Записаться на сессию-знакомство</a>
            </div>
            <hr class="hr">
        </div>
      <div class="diw">

        <div style="margin: 100px;"></div>
        <h1 class="text-right">
          <div class="title">Почему вам стоит выбрать своим коучем именно меня?</div>
          <hr class="hr">
        </h1>
        <div style="margin: 50px;"></div>
        <div class="row" >
          <div class="col-sm">
            <h2 class="text-right diw-title">Опыт<hr class="hr"></h2>
            Работаю с предпринимателями с 2017 года, в разное время поддерживая их в качестве маркетолога, продакт-менеджера, продуктового дизайнера и коуча.
          </div>
          <hr class="hr">
          <div class="marg"></div>
          <div class="col-sm">
            <h2 class="text-right diw-title">Медицинское образование<hr class="hr"></h2>
            А, значит, развитое диагностическое мышление: объективность, гибкость, результативность, решительность, позволяющее видеть всю систему целиком, которое будет работать на вас!
          </div>
          <hr class="hr">
          <div class="marg"></div>
          <div style="margin: 20px;">
        </div>
        </div>

      <div class="row">

        <div class="col-sm">
          <h2 class="text-right diw-title">Развитый эстетический интеллект
            <hr class="hr"></h2>
          Благодаря которому вы сможете усилить свой продукт, добавить ценности своему бренду - ведь я знаю, о чем спросить!

        </div>

        <div class="marg"></div>

        <div class="col-sm">
          <h2 class="text-right diw-title">Работа по призванию
            <hr class="hr"></h2>
          Я люблю свою работу. Люблю слушать, разбираться, исследовать, а не живу с парадигмой "все понятно, надо им показать, что делать". "Дочь маминой подруги" в мире коучинга)
        </div>

      </div>
      <!-- <section>
        <video muted="muted" controls="loop">
          <source src="/web/static/video/Video1.mp4">
        </video>
      </section> -->
      <div style="margin: 100px;"></div>
      <img src="static/images/Myphoto2.jpg"  style="position: absolute; margin-left: 120%; bottom: 1900px; width: 300px; border-radius: 30px;">

      <div class="parallax">
        <h1>
          <center>
           <div class="title">Что клиент получит, работая со мной?</div>
           <hr style="border-width: 3px;"></h2>
          </center>
        </h1>
        <div class="mask"></div>
     </div>


      <div style="margin: 50px;"></div>

  <div class="diw">
     <div class="row">

        <div class="col-sm">
          <h2 class="text-right diw-title"><ion-icon name="chevron-down-circle-outline"></ion-icon>Решимость идти в масштаб<hr class="hr"></h2>
          А, значит, умение управлять тревогами и страхами. Как результат - увеличение рабочих мест, открытие новых филиалов, освоение новых рынков сбыта и диверсификация бизнеса.
        </div>

        <div class="marg"></div>

        <div class="col-sm">
          <h2 class="text-right diw-title"><ion-icon name="chevron-down-circle-outline"></ion-icon>Развитие лидерских качеств
          <hr class="hr"></h2>
          Превращение из "первой собаки в упряжке" в настоящего лидера, налаживание отношений с сотрудниками, стратегическое мышление и высвобождение времени на реализацию задуманного.      </div>
        </div>

        <div class="marg"></div>

      </div>
  </div>
    <div style="margin: 50px;"></div>
  <div class="diw">
      <div class="row">

        <div class="col-sm">
         <h2 class="text-right diw-title"><ion-icon name="chevron-down-circle-outline"></ion-icon>Управление мотивацией
            <hr class="hr"></h2>
            Переосмысление бизнеса, осознание собственных ценностей, повышение осознанности в поддержании себя на пути к целям.
        </div>

        <div class="marg"></div>

        <div class="marg"></div>

        <div class="col-sm">
        <h2 class="text-right diw-title"><ion-icon name="chevron-down-circle-outline"></ion-icon>Управление жизненным балансом
          <hr class="hr"></h2>
          Осознание балансирования как процесса, навык расстановки приоритетов. В жизни моих клиентов появляется время на танцы, уход за собой, походы в театр и время с семьей без ущерба для бизнес-процессов.
        </div>

        <div class="marg"></div>

      </div>
  </div>
    <div style="margin: 50px;"></div>
  <div class="diw">
      <div class="row">

        <div class="col-sm">
          <h2 class="text-right diw-title"><ion-icon name="chevron-down-circle-outline"></ion-icon>Увеличение дохода<hr class="hr"></h2>
          Создание и реализация стратегий, расширение взгляда на возможности для заработка, смелость, проявленность, прохождение через вызовы - всё это приносит деньги. Коучинг - это надежная инвестиция в будущее.
        </div>

        <div class="marg"></div>

        <div class="col-sm">
          <h2 class="text-right diw-title"><ion-icon name="chevron-down-circle-outline"></ion-icon>Внутренняя свобода
          <hr class="hr"></h2>
          Мои клиенты управляют своей жизнью и живут так, как хочется, а не так, как надо.
        </div>

        <div class="marg"></div>

      </div>
  </div>

  <div style="margin: 100px;"></div>

  <div class="row">

    <div class="col-sm diw">
      <hr class="hr">
      <h2 class="text-right diw-title"><mark>Есть запрос на коучинг?</mark></h2>
        Запишитесь на бесплатную 30-минутную сессию-знакомство, которая поможет вам принять решение о сотрудничестве.</p>
      </div>
      <div class="marg"></div>
      <div class="col-sm diw-title2">
        <a href="" class="border-button ">Записаться на сессию-знакомство</a>
      </div>

      <hr class="hr">
  </div>
    <div style="margin: 100px;">
    <div style="font-family: 'Playfair Display SC';"><hr class="hr"><h1 class="diw-title">Варианты коучингого сопровождения.</h1><hr class="hr"></div>
    <div class="marg3"></div>
      <div class="container">
      <div class="row">

        <div class="col-sm">
          <div class="product">
            <div class="image">
              <img src="static/images/photo_item1.jpg" class="image"></img>
              <div style="margin: 20px;"></div>
            </div>
            <div class="info">
              <div style="font-family: 'Oswald';" class="twentypx-size diw-title3">Ознакомительная встреча</div>
              <hr class="hr">
              <div>Бесплатная сессия, на которой мы знакомимся как коуч и клиент. Обсуждаем ваш запрос на то, как будет проходить работа, и принимаем решение о дальнейшем сотрудничестве.</div>
              <hr class="hr">
              <div style="margin: 20px;"></div>
              <div class="info-price">
                <spa class="price"><b>бесплатно</b></spa>
                <a href="" class="border-button"><div>Подать заявку</div></a>
              </div>
            </div>
          </div>
        </div>
        <div class="marg"></div>
        <div class="col-sm">
          <div class="product">
            <div class="image">
              <img src="https://ulibky.ru/wp-content/uploads/2020/10/kosmos_17_22130423.jpg" class="image"></img>
              <div style="margin: 20px;"></div>
            </div>
            <div class="info">
              <div class="twentypx-size diw-title3" style="font-family: 'Oswald';">Коуч сессия</div>
              <hr style="border-width: 3px;">
              <div>Персональная коуч-сессия продолжительностью 1 час</div>
              <hr style="border-width: 3px;">
              <div style="margin: 20px;"></div>
              <div class="info-price">
                <spa class="price">5000<small>₽</small></spa>
                <a href="" class="border-button"><div>Подать заявку</div></a>
              </div>
            </div>
          </div>
        </div>
        <div class="marg"></div>

        <div class="col-sm">
          <div class="product">
            <div class="image">
              <img src="https://fons.pibig.info/uploads/posts/2023-05/1685485042_fons-pibig-info-p-zemlya-iz-kosmosa-krasivii-fon-25.jpg" class="image"></img>
              <div style="margin: 20px;"></div>
            </div>
            <div class="info">
              <div class="twentypx-size diw-title3" style="font-family: 'Oswald';">Коучинговое сопровождение на 1 месяц</div>
              <hr class="hr">
              <div>Ознакомительная встреча + 3 коуч сессии + 30 минут сверочная сессия + наш с вами чат для общения между сессиями.</div>
              <hr class="hr">
              <div style="margin: 20px;"></div>
              <div class="info-price">
                <spa class="price">15000<small>₽</small></spa>
                <a href="" class="border-button"><div>Подать заявку</div></a>
              </div>
            </div>
          </div>
        </div>
        <div class="marg"></div>

        <div class="col-sm">
          <div class="product">
            <div class="image">
              <img src="https://starwalk.space/gallery/images/milky-way-faq/1140x641.jpg" class="image"></img>
              <div style="margin: 20px;"></div>
            </div>
            <div class="info">
              <div class="twentypx-size diw-title3" style="font-family: 'Oswald';"><p class="">Коучинговое сопровождение на 2 месяца</p></div>
              <hr class="hr">
              <div>Ознакомительная встреча + 5 коуч сессии + 2 сверочные сессии по 30 минут + наш с вами чат для общения между сессиями.</div>
              <hr class="hr">
              <div style="margin: 20px;"></div>
              <div class="info-price">
                <spa class="price">25000<small>₽</small></spa>
                <a href="" class="border-button"><div >Подать заявку</div></a>
              </div>
            </div>
          </div>
        </div>
        <div class="marg"></div>

      </div>

    </div>
    <div style="margin: 100px;">
    <div class="container">
      <div class="row">

        <div class="col-sm">
          <div style=' font-size: 10; font-family: "Oswald";'>Мой телеграм</div>
          <img src="https://img.icons8.com/?size=512&id=lUktdBVdL4Kb&format=png" width="100" height="100">
        </div>

        <div class="col-sm">
          <div style=' font-size: 10; font-family: "Oswald";'>Мой инстаграм</div>
          <img src="https://cdn-icons-png.flaticon.com/128/1384/1384015.png" width="100" height="100">
        </div>

        <div class="col-sm">
          <div style=' font-size: 10; font-family: "Oswald";'>Мой ВК</div>
          <img src="https://cdn-icons-png.flaticon.com/128/3670/3670029.png" width="100" height="100">
        </div>

      </div>
    </div>
    <script  type = "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" > </script>
    <script  nomodule  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" > </script>
  </body>
</html>